{% extends "Base/index.html" %}
{% block content %}
<section class="user">
    <button type="button" class="btn btn-primary tohome">Go to Home ></button>
    <div class="container">
        <div class="user-wrap">
            <h1 class="text-center">Encode / Decode Operations</h1>

            <div class="row">
                <div class="col-md-6">
                    <div class="user-item">
                        <h2 class="text-center">Encode</h2>
                        <textarea name="encode" placeholder="Encode"></textarea>
                        <button type="button" class="btn btn-primary">Encode</button>
                    </div>

                    <div class="result">
                        <h4>Encode Result</h4>
                        <p>ABSGDGTSBDUBSHU</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="user-item">
                        <h2 class="text-center">Decode</h2>
                        <textarea name="decode" placeholder="Decode"></textarea>
                        <button type="button" class="btn btn-primary">Decode</button>
                    </div>

                    <div class="result">
                        <h4>Decode Result</h4>
                        <p>TESTDECODETEXT</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <a href='{% url "logout" %}' class="btn btn-primary">
                        logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}