---
title: Crypto  - Admin
description: This is the Admin page.
---

<section class="admin">
    <button type="button" class="btn btn-primary tohome">Go to Home ></button>
    <div class="container">
        <div class="admin-wrap">
            <h1 class="text-center">Son təyin olunmuş əlifba simvolları</h1>
            <ul class="alphabet-list">
                <li>A</li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
                <li>E</li>
                <li>F</li>
            </ul>

            <h2 class="text-center">Əlifbanı dəyişdir</h2>
            <textarea value="ABCDEF" class="change-alphabet" name="details" placeholder="Change Alphabet"></textarea>
            <button type="button" class="btn btn-primary">Yadda saxla</button>
        </div>
    </div>
</section>