{% extends "Base/index.html" %}
{% block content %}
    <section class="home">
        <div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">ADMIN LOGIN</h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="input-group">
                                <input id="username" type="text" name="username" placeholder="Username"/>
                                <label for="username"></label>
                            </div>
                            <div class="input-group">
                                <input id="password" type="password" name="password" placeholder="Password"/>
                                <label for="password"></label>
                            </div>
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                                {% comment %}
                                    style="margin: 10px 0;"
                                {% endcomment %}
                            {% endif %}
                            <div class="modal-footer">
                                <button type="cancel" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                                <button type="sumbit" class="btn btn-primary">LOGIN</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade"
             id="userModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="userModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">USER LOGIN</h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="input-group">
                                <input id="username" type="text" name="username" placeholder="Username"/>
                                <label for="username"></label>
                            </div>
                            <div class="input-group">
                                <input id="password" type="password" name="password" placeholder="Password"/>
                                <label for="password"></label>
                            </div>
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="modal-footer">
                                <button type="cancel" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                                <button type="sumbit" class="btn btn-primary">LOGIN</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h1>Login with Admin / User</h1>
        <div class="home-btns">
            <a data-toggle="modal" data-target="#adminModal" href="#"
               class="home-btn btn btn-sm animated-button thar-three">ADMIN</a>
            <a data-toggle="modal" data-target="#userModal" href="#"
               class="home-btn btn btn-sm animated-button thar-three">USER</a>
        </div>
    </section>
    <script>
        $(window).on('load', function () {
            {% if form.errors %}
                $('#adminModal').modal('show');
            {% endif %}
        });
    </script>
{% endblock content %}