<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="tags for website">
    <meta name="description" content="This is the home page.">
    <meta name="author" content="">
    {% load static %}
    <title>{% block title %}Crypto{% endblock title %}</title>

    <!-- injector:css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/design.min.css' %}">
    <!-- endinjector -->

    <!-- injector:js -->
    <script src="{% static 'js/min/assets/jquery.min.js' %}"></script>
    <script src="{% static 'js/min/assets/bootstrap.min.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% static 'js/min/app.min.js' %}"></script>

</head>
<body class="{% block body_class %}{% endblock %}">
{% block content %}{% endblock content %}
</body>
</html>